@font-face {
    font-family: Norse Bold;
    src: url(/fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: whitesmoke;
}

.left {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
}

.plant-image {
    max-width: 30vw;
    min-width: 250px;
    box-sizing: border-box;
    height: 100%;
    display: block;
}

.logo {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-width: 100%;
    min-height: 20%;
    top: 10em;
}

.logo-image {
    width: 80px;
    height: auto;
}

.logo-text {
    font-family: "Norse Bold";
    font-size: 60px;
    margin-top: 30px;
}

.right {
    box-sizing: border-box;
    height: 100vh;
    padding-top: 100px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.right > h2 {
    margin: 0px 50px 25px 50px;
}

#account-form {
    background: white;
    margin-top: 50px;
    min-height: 40vh;
    width: 70vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

#account-form h2,
label,
input {
    margin-left: 50px;
    margin-bottom: 25px;
}

input {
    width: 250px;
    height: 20px;
    padding: 5px;
    display: block;
    border: solid #E5E7EB;
}

input:focus {
    border: steelblue;
    box-shadow: 1px 1px 2px black;
}

label {
    font-family: "Poppins";
    color: gray
}

.input-container {
    display: flex;
}

.error:invalid {
    border: solid red;
}

button {
    width: 180px;
    height: 40px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    background-color: #596D48;
    font-weight: bold;
    box-shadow: none;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 50px;
}

:link {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}







